{{ 'design-drawer-css.css' | asset_url | stylesheet_tag }}

<section class="design-drawer" id="drawer-name" data-drawer-target>
  <div class="design-drawer__overlay" data-drawer-close tabindex="-1"></div>
  <div class="design-drawer__wrapper">
    <div class="design-drawer__header">
      <div class="design-drawer__title">{{ product.title }}</div>
      <button
        class="design-drawer__close"
        data-drawer-close
        aria-label="Close Drawer"
      ></button>
    </div>

    <div class="design-drawer__content">
      {% for product in product.metafields.custom.products.value %}
        <div class="design-image">
          {% liquid
            assign out_of_stock = false
            assign var = product.selected_or_first_available_variant
            if var.inventory_management
              if var.inventory_quantity < 1
                assign out_of_stock = true
              endif
            else
              assign out_of_stock = true
            endif
          %}
          {% if out_of_stock %}
            <div class="out-stock-message"><small>Out Of Stock</small></div>
          {% endif %}
          <a
            style="{% if out_of_stock %}pointer-events:none;{%endif%}"
            href="#"
            data-drawer-close
            aria-label="Close Drawer"
          >
            {{ product.featured_image | image_url: width: 150 | image_tag }}
            <input
              class="image-checkbox-here"
              style="display: none;"
              type="checkbox"
              name="{{ product.handle }}"
              varId="{{ product.selected_or_first_available_variant.id }}"
              id="{{ product_form_id }}"
            >
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<script src="{{ 'design-drawer-js.js' | asset_url }}" defer="defer"></script>
